.carouselTour .carousel-item img {
    object-fit: cover !important;
    width:100%;
    filter: brightness(75%);
    background-color: #121121;
    height: 200px !important;
}

.carouselTour .carousel-indicators {
  height: 200px !important;
  display: none;
}

.carousel-caption {
  display: inline-block !important;
}

.carouselTour .carousel-control-prev {
  height: 200px !important;
}

.carouselTour .carousel-control-next {
  height: 200px !important;
}

.carouselTour .carousel-caption h3 {
  font-weight: 600;
  line-height: 1;
  text-shadow: 0px 0px 3px black;
}

.carouselTour .carousel-caption p {
  font-weight: 400;
  line-height: 1;
  text-shadow: 0px 0px 3px black;
}