@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: oswald, sans-serif;
    font-weight: 400;
}

* h1, h2, h3 {
    font-family: exo, sans-serif;
    font-weight: 600;
}

* h4, h5 {
    font-family: exo, sans-serif;
    font-weight: 400;
}

* h6 {
    font-family: exo, sans-serif;
    font-weight: 300;
    color: #F61667;
}


/* ---- NAVBAR ---- */
.navbar {
    background-color: #121121;;
    height: 60px;
}

.navbar-brand {
    width:100px;
    height: auto;
    margin:0;
    padding:0;
}

.navlinks {
    margin: 0;
    padding: 0;
}

.navlinks p {
    font-family: oswald, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: white;
    margin:0;
}

.navlinks p:hover {
    color:  #F61667;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


/* ---- HEADER ---- */
.header {
    background-color: #0C256E;
    height: auto;

}

.header h1 {
    font-family: exo, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    line-height: .8;
}

.header h4 {
    font-family: oswald, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #F61667;
    line-height: .8;
}

/* ---- CATEGORY CARDS ---- */

.homeCategory {
    background-color: #181733;
    height: auto;
    padding-bottom: 2rem;
}

.catCard {
    padding: 0 !important;
    margin: 0 !important;
}

.cardContainer {
    position: relative;
    border: 0 !important;
}

.categoryImg {
    border-radius: 0 !important;
}

.titleBox {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 3px #121121;
}

/* ---- SECTION HEADINGS ---- */

.Headings {
    padding: 2rem 0 2rem 0;
    height: auto;
    background-color: #181733;
}

.Headings h1 {
    font-family: exo, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    line-height: .8;
}

.Headings h4 {
    font-family: oswald, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #F61667;
    line-height: .8;
}

/* ---- LATEST NEWS ---- */

.newsCarousel {
    padding-bottom: 2em;
    background-color: #181733;
}

.carCaption {
    background-color: #121121;
    width:100%;
    height: auto !important;
}

.carousel-caption h3 {
    height: 3vh;
    font-size: .8rem;
    font-weight: 800;
    color: white;
    text-shadow: 2px 0px 3px #121121;
}

.carousel-caption p {
    display: none;
}

.carousel-indicators {
    display: none !important;
}

.carCaption img {
    height: 15vh;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity .3s ease;
}

/* ---- TOURNAMENTS ---- */

.tourStat {
    display:flex;
    justify-content: space-between;
    background-color: #181733 !important;
    padding-bottom: 2em;
    height:100%;
}

.tourImg {
    border-radius: 0 !important;
}

.tourContainer {
    margin: 0 0 15px 0 !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.tourProgress {
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    padding: 0;
    margin: 0 !important;
}

.tourProgress thead {
    background-color: #181733;
    color: #F2AE2E;
    text-align: center;
}

.tourProgress th {
    font-family: exo, sans-serif;
    font-weight: 700;
}

.tourCarousel {
    height: auto !important;
}

.tourConclude {
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    padding: 0;
    margin: 0 !important;
}

.tourConclude thead {
    background-color: #181733;
    color: #F2AE2E;
    text-align: center;
}

.tourConclude th {
    font-family: exo, sans-serif;
    font-weight: 700;
}

.tourTitleBox-p {
    background-color: #F2AE2E;
    color: #121121;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    margin:0 !important;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tourCarousel {
    width:100%;
    height:auto;
}

.tourCaption {
    background-color: #121121;
    width:100%;
    height: auto !important;
}

.tourCaption h3 {
    height: 25vh;
    font-size: 16px;
    font-weight: 800;
    color: white;
    text-shadow: 2px 0px 3px #121121;
}

.tourCaption p {
    font-size: 12px;
    font-weight: 500;
}

.tourCaption img {
    height: 15vh;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity .3s ease;
}

.tourTitleBox-c {
    background-color: #a7a7a7;
    color: #505050;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    margin:0 !important;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* ---- RANKERS ---- */
.rankers {
    background-color: #181733 !important;
}

.rankCard {
    padding: 0 0 5em 0;
}

.card-deck .card {
    border: 0 !important;
    border-radius: 15px 50px 0 0;
    font-size: .7rem;
}

.card h5 {
    line-height: 1 !important;
    font-weight: 500;
}

.card-text {
    color: #f54c8a;
}

.card img {
    background: linear-gradient(to top, #121121 0%, #f61667 100%);
    border: 0 !important;
    /* border-radius: 0 !important; */
    border-radius: 15px 50px 0 0;
}

.card-footer {
    font-size: .5rem;
    text-align: right;
}

.card .btn {
    width: 100%;
    display: flex;
    justify-content: right;
    font-size: 12px;
    text-align: right;
}


/* ---- FOOTER ---- */

.footer {
    background-color: #121121;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
}

.nekuLogoFooter {
    width: 100%;
    transform: scale(.5);
    display:flex;
    justify-content: center;
}

.footerLinks p {
    color: white;
    font-family: exo, sans-serif;
    font-weight: 300;
    padding: 0;
}

.socialIcons {
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.aviso {
    width: 100%;
    background-color: #F61667;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    margin: 0;
    padding: 0;
}

.aviso p {
    font-family: oswald, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 550) {
    .navMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        z-index: 1;
        background-color: #181733;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 250px;
        top: 60px;
        left: 0px;
    }
    
    .navMenu nav {
        order: 3;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 20px;
    }
    
    .navMenu form {
        width: 80% !important;
        order: 1;
    }

    .searchInput {
        border-radius: 3px 0 0 3px !important;
        border:0;
    }
    
    .btn {
        padding-left: 2px;
        border-radius: 0 3px 3px 0 !important;
        border:0 !important;
    }
    
    .btn p {
        font-family: exo, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: white;
        text-align: center !important;
    }
    
    .dropdownProfile {
        order: 2;
        width: 100%;
        display:flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

@media only screen and (min-width: 500) {
    .navMenu {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: #181733;
        width: 100%;
    }
    
    .carCaption {
        background-color: #121121;
        width:100%;
    }
    
    .carousel-caption h3 {
        height: 15vh;
        font-size: 2rem;
        font-weight: 800;
        color: white;
        text-shadow: 2px 0px 3px #121121;
    }
    
    .carCaption p {
        font-size: 12px;
        font-weight: 500;
    }
    
    .carCaption img {
        height: 250px !important;
        object-fit: cover;
        opacity: 0.5;
        transition: opacity .3s ease;
    }

    .footer {
        background-color: #121121;
        display:flex;
        align-items:flex-start;
        justify-content: space-around;
        padding-top: 1rem;
    }

    .footerLinks p {
        color: white;
        font-family: exo, sans-serif;
        font-weight: 300;
        padding: 0;
        margin-bottom: 0;
    }
}