/* ---- NAVBAR ---- */
.navbar {
    background-color: #121121 !important;
    padding: 0 !important;
}

.navbar-brand img {
    width:200px !important;
    min-height: 60px !important;
    max-height: 60px !important;
    padding-left: 0;
}

.navbar-collapse {
    padding-right: 20px !important;
}

.navbar-toggler {
    padding:0 2rem 0 1rem !important;
    border-color: transparent !important;
    padding-right: 10px;
    border:none;
    outline:none;
}

.navbar-toggler:hover {
    border:0;
    outline:0;
    color: #F61667 !important;
}

.navbar-toggler:active {
    border:0;
    outline:0;
    color: #F61667 !important;
}

.navbar-toggler:focus {
    border:0;
    outline:0;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
}

.dropdown {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end !important;
}

#dropdownMenuProfile {
    height: auto;
    padding-bottom: 0;
    text-align: right;
    width: auto;
    border-radius: 5px 5px 5px 5px !important;
    border:0;
}

#dropdownMenuProfile .dropdown-item {
    color: #F61667 !important;
    height: auto;
    padding-bottom: 0;
    text-align: right;
    line-height: 2rem;
}

#dropdownMenuProfile .dropdown-item:hover {
    background-color: #121121;
    color: white !important;
    height: auto;
    padding-bottom: 0;
    text-align: right;
    line-height: 2rem;
}

.nav-link:hover {
    color: #F61667 !important;
    transition: all .3s ease-out;
}

.dropdown .btn-secondary {
    border-color: transparent !important;
    background-color: transparent;
}

#controllerButton svg:hover {
    fill: #F61667 !important;
    border-color: transparent !important;
    background-color: transparent;
}

.dropdown .btn-secondary:hover {
    border-color: transparent !important;
    background-color: transparent !important;
}

#controllerButton:hover {
    fill: #F61667;
    transition: all .3s ease-out;
}

#signupMenuSelect {
    background-color: #F61667;
    margin-top: 10px;
    border-radius: 0 0 5px 5px !important;
}

#signupMenuSelect a {
    color: white;
    text-decoration: none !important;
}

#signupMenuSelect:hover {
    background-color: #121121 !important;
}

/* #signupMenuSelect a:hover {
    color: white;
    text-decoration: none !important;
} */