@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: oswald, sans-serif;
    font-weight: 400;
}

* h1, h2, h3 {
    font-family: exo, sans-serif;
    font-weight: 600;
}

* h4, h5 {
    font-family: exo, sans-serif;
    font-weight: 400;
}

* h6 {
    font-family: exo, sans-serif;
    font-weight: 300;
    color: #F61667;
}


/* ---- NAVBAR ---- */
.navbar {
    background-color: #121121;;
    height: 60px;
}

.navbar-brand {
    width:100px;
    height: auto;
    margin:0;
    padding:0;
}

.navlinks {
    margin: 0;
    padding: 0;
}

.navlinks p {
    font-family: oswald, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: white;
    margin:0;
}

.navlinks p:hover {
    color:  #F61667;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
