/* ---- NAVBAR ---- */
.navbar {
    background-color: #121121 !important;
}

.navbar-brand {
    width:auto;
}

.navbar-toggler {
    border-color: transparent !important;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
}

.dropdown {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end !important;
}

.nav-link:hover {
    color: #F61667 !important;
    transition: all .3s ease-out;
}

.dropdown .btn-secondary {
    border-color: transparent !important;
    background-color: transparent;
}

#controllerButton:hover {
    fill: #F61667;
    transition: all .3s ease-out;
}