.container-fluid {
  background-color: #0A1E59;
  height: auto;
}

.nekuLogo img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  margin: 0 !important;
  transform: scale(.7) !important;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.footerLinks p {
  color: white;
  font-family: exo, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0;
}

.footerLinks p:hover {
  color: #F61667;
}

#socialRow {
  background-color: #121121 !important;
  padding-top: 1rem;
}

#avisoBanner {
  display: flex;
  align-items: center;
  padding: 0;
}

#aviso {
  background-color: #121121;
  width:100%;
  height:50px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding-right: 1rem;
}

@media only screen and (min-width: 475) {

}