@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

/* ------------ NAVBAR ------------- */

.navbar {
    background-color:#121121;
    height: 80px;
}

.navbar-brand {
  margin: 0;
  padding-left: .5rem;
}

.collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
    /* width: 25px; */
    /* height: auto; */
    margin: 0 .8rem 0 .8rem;
}

#search-bar {
  margin: 0 .5rem 0 1rem;
}

.fas {
    width: fit-content;
}

.fab {
    width: fit-content;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.form-control {
    font-family: "Oswald", sans-serif;
    border: 0;
    border-radius: 2px;
    margin:0;
}

.icon-cog {
    color: white;
}

.fa-stack:hover{
    color: #F2AE2E;
}

.btn {
    background-color:#A41A21;
    color: white;
    font-family: "Exo", sans-serif;
    border: 2px, solid, #A41A21;
    border-radius: 2px;
    margin:0;
}

.btn:hover {
    background-color:#F2AE2E;
    border: 2px, solid, #F2AE2E;
    color: white;
}

/* ------------ HEADER ------------- */

.header {
  padding: 3rem 2rem 3rem 2rem;
}

.header h1, h2, h3 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  color: white;
}

.header h4, h5, h6 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  color: #F2AE2E;
}

.header p {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: white;
}

.welcome {
  margin-bottom: 50px;
}

.paragraph {
  width: 100%;
  height: fit-content;
}

.carousel {
  width: 100%;
  height: fit-content;
}

.carousel-item img {
  width: fit-content;
  opacity: .9;
}

.carousel-caption h5, p {
  color: white;
}

.carousel-control-prev:hover {
  background: #121121;
  opacity: .8;
}

.carousel-control-next:hover {
  background: #121121;
  opacity: .8;
}

/* ------------ MAIN SECTION ------------- */

.main h1, h2, h3 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  color: white;
}

.main h4, h5, h6 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  color: #F2AE2E;
}

.main {
  height: 100%;
  padding: 2rem;
  background-color: #181733;
}

.heading-category h1, h2, h3 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #0a1e59;
}

#heading-category h4, h5, h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #d42c34;
}

#heading-category p {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #121121;
}

.home-category {
  padding: 5px;
}

.home-ranker {
  padding: 5px;
}

.card-body {
  padding:0;
  position: relative;
  text-align: center;
  border: 0;
  border-radius: 5px;
}

.card-body img {
  filter: brightness(.5);
  box-sizing: border-box;
}

.card-body img:hover {
  filter: brightness(1);
  cursor: pointer;
}

.card-body h5 {
  color: white;
  cursor: pointer;
  width: 100%;
}

.card-body p {
  color: white;
  cursor: pointer;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-news {
  margin: 25px 0 25px 0;
}

/* ------------ FOOTER ------------- */

.footer {
  background-color: #121121;
}

.footer-menu {
  font-family: exo, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  color: white; 
  margin-top: 2rem;
  padding-top:1rem;
  padding-left: 2rem;
}

.footer-link {
  color: white;
}
.footer-link:hover {
  color: #F2AE2E;
}

.footer-menu:hover {
  color: #F2AE2E;
}

.social-icons-footer {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.social-icon {
  padding: 1rem;
}

.social-icon .fab {
  color: white;
}

.social-icon .fab:hover {
  color: #F2AE2E;
}

#aviso {
  background-color: #D42C34;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
}

#aviso p {
  font-family: oswald, sans-serif;
  font-weight: 500;
  margin: 0;
}

@media only screen and (min-width: 467px) {
  .logo-col {
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  #logo-footer {
    transform: scale(1);
    width:100%;
    height: auto;
  }

  .social-icons-footer {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
  
  #search-icon {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  #avatar-ninja {
    display: none;
  }

  .logo-col {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }

  #logo-footer {
    transform: scale(.7);
    width: 100%;
    height: auto;
  }
}