#ongoingTournament {
    background-color: #121121 !important;
    height: 100%;
}

#cardCarousel {
    height: 100%;
    background-color: #aeaeaf;

}

.tourCard {
    /* padding: 0 0 3rem 0 !important; */
    margin: 0 !important;
}

.tourCard h5 {
    color: black;
}

#moreInfoBtn {
    width: 75% !important;
    background-color: #181733;
    border:0;
}

#moreInfoBtn:hover {
    background-color: #F61667;
    color: white;
}

#cardCarousel .text-muted {
    color: white !important;
}

#nextTournaments{
    background-color: white !important;    
}