@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

.main {
  height: 700px;
  padding: 2rem;
}

.heading-category h1, h2, h3 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #0a1e59;
}

#heading-category h4, h5, h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #d42c34;
}

#heading-category p {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #121121;
}

.home-category {
  padding: 20px;
}

.card-body {
  padding:0;
  position: relative;
  text-align: center;
  border: 0;
  border-radius: 5px;
}

.card-body img {
  filter: brightness(.5);
  box-sizing: border-box;
}

.card-body img:hover {
  filter: brightness(1);
  cursor: pointer;
}

.card-body h5 {
  color: white;
  cursor: pointer;
  width: 100%;
}

.card-body p {
  color: white;
  cursor: pointer;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-news {
  margin: 25px 0 25px 0;
}