.carousel-item img {
  object-fit: cover !important;
  width:100%;
  filter: brightness(75%);
  background-color: #121121;
}

.carousel-caption {
  display: inline-block !important;
}

.carousel-caption h3 {
  font-weight: 600;
  line-height: 1;
  text-shadow: 0px 0px 3px black;
}

.carousel-caption p {
  font-weight: 400;
  line-height: 1;
  text-shadow: 0px 0px 3px black;
}