
.carouselNewsCard {
  height: auto !important;
}

.carouselNewsCard .carousel-item img {
  object-fit: cover !important;
  width:100%;
  height: 400px;
  filter: brightness(75%);
  background-color: #121121;
}

.carouselNewsCard .carousel-indicators {
  display: none;
}

.carouselNewsCard .carousel-caption {
  display: inline-block !important;
}

.carouselNewsCard .carousel-caption h3 {
font-weight: 600;
line-height: 1;
text-shadow: 0px 0px 3px black;
}

.carouselNewsCard .carousel-caption p {
font-weight: 400;
line-height: 1;
text-shadow: 0px 0px 3px black;
}

@media only scren and (min-width:475px) {
  .carouselNewsCard .carousel-indicators {
    height: 15vh;
  }

  .carouselNewsCard .carousel-item img {
    object-fit: cover !important;
    width:100%;
    height: 500px;
    filter: brightness(75%);
    background-color: #121121;
  }
}