.registerContainer {
  background-color: #121121 !important;
  color: white;
  padding: 1rem 0 1rem 0;
  width:100%;
  height: 50vh;
}

.registerContainer h1 {
  text-align: center;
}

.registerButtons {
  margin-top: 2rem;
  display: flex;
  width:100%;
  height: 75%;
  padding: 0;
  margin: 20px 0 0 0 !important;
}

#gamerButton {
  width:100%;
  background-color: #F2AE2E;
  border:0;
  height: 100px;
}

#teamButton {
  width:100%;
  background-color: #F61667;
  border:0;
  height: 100px;
}

#gamerButton h3 {
  font-size:3rem;
  padding: 0;
  margin: 0;
}

#teamButton h3 {
  font-size:3rem;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 475){
  .registerContainer {
    height: 80vh;
  }
}