.TournamentTitle{
    font-size: 1.5em !important;
    color: white;
    font-weight: bold;
}

.TournamentData{
    font-size: 1.5em !important;
    color: #F2AE2E;
    font-weight: bold;
}

.TournametImg{
    border-radius: 25px 25px 0 0  !important;
}

.TournamentCard{
    background: #181733 !important;
    border-radius: 25px !important;
}

.sectionTitle{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight:bold;
    background: linear-gradient(to right, #181733 30%, rgba(24, 23, 51, 0) 100%);
}
