.playerName{
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    color: #F2AE2E;
    transform: rotate(90deg);
}

.playerNameBox{
    background: linear-gradient(180deg, #181733 57.81%, rgba(24, 23, 51, 0) 100%);
    border-radius: 10px;
    transform: rotate(-90deg);
}