.profileContainer{
    background: #121121;
}

.playerName{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    color: #F2AE2E;
}

.playerNameBox{
    background: linear-gradient(to right, #181733 57.81%, rgba(24, 23, 51, 0) 100%);
    border-radius: 10px;
}

.profileStatsTitle{
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    
}

.profileStatsData{
    font-size: 4em;
    font-weight: 900;
    color: #50F2F2;
}


.profileRankingData{
    font-size: 2em;
    font-weight: 900;
    color: #F2AE2E;
}

.TournamentCard{
    background: #181733;
    border-radius: 25px !important;
}

.TournamentTitle{
    font-size: 1em !important;
    color: white;
    font-weight: bold;
}

.TournamentData{
    font-size: 1.5em !important;
    color: #F2AE2E;
    font-weight: bold;
}

.TournametImg{
    border-radius: 25px 25px 0 0  !important;
}

.sectionTitle{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight:bold;
    background: linear-gradient(to right, #181733 30%, rgba(24, 23, 51, 0) 100%);
}