.profileContainer{
    background: #121121;
}

.playerName{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    color: #F2AE2E;
}

.playerNameBox{
    background: linear-gradient(to right, #181733 57.81%, rgba(24, 23, 51, 0) 100%);
    border-radius: 10px;
}

.profileStatsTitle{
    font-size: 20px;
    color: white;
    font-weight: bold;
    
}

.profileStatsData{
    font-size: 80px;
    font-weight: 900;
    color: #50F2F2;
}


.profileRankingData{
    font-size: 80px;
    font-weight: 900;
    color: #F2AE2E;
}

.TournamentCard{
    background: #181733;
    border-radius: 25px !important;
}

.TournamentTitle{
    font-size: 1em !important;
    color: white;
    font-weight: bold;
}

.TournamentData{
    font-size: 1em !important;
    color: #F2AE2E;
    font-weight: bold;
}

.TournametImg{
    border-radius: 25px 25px 0 0  !important;
}