@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

.header {
  height: 700px;
  background-color: #0A1E59;
  padding: 2rem;
}

.header h1, h2, h3 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  color: white;
}

.header h4, h5, h6 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  color: #F2AE2E;
}

.header p {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: white;
}

.welcome {
  margin-bottom: 50px;
}

.paragraph {
  width: 100%;
  height: fit-content;
}

.carrousel {
  width: 100%;
  height: fit-content;
}

img {
  width: fit-content;
  opacity: .7;
}

.carousel-caption h5, p {
  color: white;
}

.carousel-control-prev:hover {
  background: #121121;
  opacity: .8;
}

.carousel-control-next:hover {
  background: #121121;
  opacity: .8;
}