.profileStatsTitle{
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    
}

.profileStatsData{
    font-size: 4em;
    font-weight: 900;
    color: #50F2F2;
}


.profileRankingData{
    font-size: 4em;
    font-weight: 900;
    color: #F2AE2E;
}

.sectionTitle{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight:bold;
    background: linear-gradient(to right, #181733 30%, rgba(24, 23, 51, 0) 100%);
}