@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.footer {
  background: #121121;
}

.logo-col {
  margin: 2rem 0 2rem 0;
}

#logo-footer {
  width: 50%;
  height: auto;
}

.footer-menu {
  font-family: exo, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  color: white; 
  margin-top: 2rem; 
  margin-left: 1rem;
}

.social-icons-footer {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.social-icon {
  padding: 1rem;
}

.fab {
  color: white;
}

#aviso {
  background-color: #D42C34;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
}

#aviso p {
  font-family: oswald, sans-serif;
  font-weight: 500;
  margin: 0;
  padding-right: 1rem;
}

@media only screen and (min-width: 475px) {
  
.social-icons-footer {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 2rem;
  padding-bottom: 1rem;
  }
}